.git/
.github/
.pytest_cache/
.vscode/
data/
tests/

.coveragerc
.deepsource.toml
.dockerignore
.env.example
.gitignore
.pep8speaks.yml
docker-compose.yml
Dockerfile
LICENSE
pyproject.toml
README.MD
setup.cfg
